html,body{
    padding: 0;
	margin: 0;
	border: 0;
	height: 100%;
	width: 100%;
	/* font-size: 100%;
	line-height: 1;
	font-size: 24px; */
	/* -ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; */
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   font: 400 14px/20px "Roboto", sans-serif;
    color: #fff;
    background: #080a0a;
    font-family: "Comfortaa", cursive;
    font-weight: 600;
    list-style: none;
    text-align: center;
    min-width: 1000px;
}
ul{
    list-style: none;
    
}